<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <p class="brand">Globe Trotters 🌍</p>
            </a>
          </div>
          <ul class="nav navbar-nav navbar-right">
                <a class="button1 brand" [routerLink] ="['/signup']">Signup</a>
          <a class="button brand" [routerLink] ="['/login']">Login</a>
            
          </ul>
        </div>
      </nav>
<router-outlet></router-outlet>


